/* Default styles */
html {
    font-size: 15px;
}

body {
    background-color: #000;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Bootstrap */
.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.nav__link {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    transition: color .2s linear;
}

.nav__link:hover {
    color: #ff0c3a;
}

@media (max-width: 991px) {
    .nav__link {
        font-size: 12px;
    }
}

@media (max-width: 767px) {
    .nav__link {
        font-size: 10px;
    }
}

.contacts {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.contacts__phones {
    list-style: none;
}

@media (max-width: 991px) {
    .contacts {
        display: none;
    }

    .contacts__phones {
        margin-top: 15px;
    }
}

@media (max-width: 575px) {
    .contacts__phones li {
        font-size: 11px;
    }
}

.social__icon {
    margin-right: 8px;
}

.social__link {
    text-decoration: none;
}

.social__link:hover {
    text-decoration: none;
}

.main__inner {
    background: url("./../img/bg-main.png") no-repeat;
    background-size: cover;
    height: 600px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
}

.main__title {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 400;
    font-size: 17px;
    text-transform: uppercase;
    margin: 40px 0 6px 0;
}

.main__subtitle {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: #9c6c48;
}

@media (max-width: 991px) {
    .main__inner {
        height: 400px;
    }
}

@media (max-width: 767px) {
    .main__inner {
        height: 320px;
    }

    .main__title {
        font-size: 15px;
    }

    .main__subtitle {
        font-size: 16px;
    }
}

@media (max-width: 575px) {
    .main__inner {
        background-position-x: -200px;
    }

    .logo {
        width: 100px;
    }

    .main__subtitle {
        font-size: 12px;
    }

    .main__title {
        font-size: 13px;
    }
}

.consulation {
    margin-top: -100px;
}

.consulation_info {
    background-color: #fff;
    padding: 25px 120px 15px;
    text-align: center;
    color: #000;
    position: relative;
    overflow: hidden;
}

.cosnsulation__title {
    text-transform: uppercase;
    font-size: 31px;
    font-weight: 400;
    color: #2f2f2f;
}

.consulation__text {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    color: #2f2f2f;
    line-height: 1.5;
    padding: 0 15px;
}

.consulation__img {
    width: 100%;
}

.consulation__novelty {
    height: 30px;
    width: 180px;
    background-color: #ff0c3a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-family: "Roboto", sans-serif;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    top: 35px;
    left: -40px;
}

@media (max-width: 991px) {
    .consulation {
        margin-top: -60px;
    }

    .cosnsulation__title {
        font-size: 27px;
    }

    .consulation__text {
        font-size: 12px;
    }
}

@media (max-width: 767px) {
    .consulation {
        margin-top: -20px;
    }

    .cosnsulation__title {
        font-size: 24px;
    }

    .consulation_info {
        padding: 25px 80px 15px;
    }
}

@media (max-width: 575px) {
    .consulation_info {
        padding: 25px 5px 15px 75px;
    }
}

.howworks {
    margin-top: -10px;
}

.howworks__inner {
    padding: 65px 0 0 0;
    margin: 0;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #fff;
}

.howworks__inner p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #7b7b7b;
    padding: 0 70px;
}

.howworks__title {
    font-weight: 400;
    font-size: 29px;
    color: #2f2f2f;
    text-transform: uppercase;
    margin: 0;
}

.howworks__text {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #7b7b7b;
    margin: 15px 0;
}

.howworks__img {
    padding: 0;
}

.howworks__img img {
    display: block;
    width: 100%;
}

@media (max-width: 991px) {
    .howworks__title {
        font-size: 22px;
    }

    .howworks__text {
        font-size: 17px;
    }

    .howworks__inner p {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .howworks__title {
        font-size: 19px;
    }

    .howworks__text {
        font-size: 15px;
    }

    .howworks__inner p {
        font-size: 14px;
    }
}

@media (max-width: 575px) {
    .howworks__inner p {
        font-size: 18px;
        padding: 0px 15px;
    }
}

.table {
    color: #000;
}

.table-bordered td, .table-bordered tr, .table-bordered th {
    border-color: #fec700;
}

.head__row {
    background-color: #ffd100;
    color: #000;
    text-transform: uppercase;
    text-align: center;
}

.body__row {
    background-color: #fff000;
}

.noChecked {
    display: inline-block;
    width: 13px;
    height: 4px;
    background-color: #000;
}

.table__btn {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 17px;
    padding: 4px 10px;
    background-color: #000;
    margin-top: 15px;
    border: 0;
    cursor: pointer;
    transition: color, background-color .2s linear;
}

.table__btn:hover {
    color: #ff0c3a;
    background-color: #2f2f2f;
}

.table__currency {
    border: 1px solid #000;
    padding: 1px 5px;
    margin: 1px;
}

@media (max-width: 767px) {
    .head__row th {
        font-size: 11px;
    }

    .body__row td {
        font-size: 12px;
    }

    .body__row td img {
        width: 15px;
    }

    .noChecked {
        width: 11px;
        height: 3px;
    }

    .table__btn {
        font-size: 14px;
        padding: 2px 5px;
    }
}

.services__inner {
    background-color: #fff;
    margin: 0;
    padding-top: 60px;
    color: #000;
}

.services__title {
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    color: #2f2f2f;
    margin: 0 0 30px 20px;
}

.service__item {
    border: 3px solid #7b7b7b;
    padding: 35px 50px 35px 30px;
    cursor: pointer;
    width: 30%;
    max-width: 310px;
}

.service__item:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.services__block {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.service__title {
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    color: #000;
}

.service__title span {
    font-size: 18px;
}

.service__title h5 {
    font-size: 30px;
}

.service__info__desc {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #7b7b7b;
}

.service__info span {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #000;
}

.service__price {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 25px 0;
}

.service__cost {
    font-size: 20px;
    font-weight: 500;
}

.service__cost--old {
    color: #7b7b7b;
    font-weight: 400;
    position: relative;
}

.service__cost--old:before {
    border-bottom: 2px solid red;
    position: absolute;
    content: "";
    width: 120%;
    height: 50%;
    left: -6px;
    -webkit-transform: rotate(347deg);
    transform: rotate(347deg);
}

.service__btn {
    text-align: center;
}

.service__btn button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    color: #fff;
    background-color: #ff0c3a;
    cursor: pointer;
    width: 100%;
    padding: 12px 0;
    transition: color .2s linear;
}

.service__btn button:hover {
    color: #000;
}

@media (max-width: 991px) {
    .service__item {
        width: 100%;
    }

    .service__item:last-child {
        margin-top: 25px;
    }

    .services__block {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
    }

    .howworks__inner p {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .service__item {
        padding: 25px 40px 30px 25px;
        max-width: 280px;
        margin-top: 25px;
    }

    .services__inner {
        padding-top: 40px;
    }
}

.galery__inner {
    margin: 0;
    background-color: #fff;
    color: #000;
    -ms-flex-pack: center;
    justify-content: center;
}

.galery__title {
    font-weight: 400;
    font-family: "Roboto Slab", sans-serif;
    font-size: 27px;
    text-transform: uppercase;
    margin-top: 100px;
}

.galery__img {
    width: 200px;
    height: auto;
}

.galery__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin: 40px 0;
}

.galery__item span {
    margin-left: 45px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: #2f2f2f;
}

@media (max-width: 991px) {
    .galery__title {
        font-size: 23px;
    }

    .galery__item span {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .galery__title {
        font-size: 20px;
    }

    .galery__item span {
        font-size: 15px;
    }
}

@media (max-width: 575px) {
    .galery__title {
        font-size: 17px;
    }

    .galery__item {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .galery__item span {
        font-size: 13px;
        margin-top: 10px;
    }
}

.footer__link {
    font-size: 13px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    margin: 3px 0;
}

.footer__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer {
    margin: 25px 0;
}

.footer__contacts {
    display: none;
}

@media (max-width: 991px) {
    .footer__contacts {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
    }
}

@media (max-width: 575px) {
    .footer__link {
        font-size: 11px;
    }
}

.header__inner {
    -ms-flex-align: center;
    align-items: center;
}

.header {
    padding-top: 20px;
}

.header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 5;
    background-color: #000;
    padding: 15px 0;
}

.menu-burger__header.open-menu span {
    opacity: 0;
    transition: 0.5s;
}

.menu-burger__header.open-menu:before {
    -webkit-transform: rotate(38deg);
    transform: rotate(38deg);
    top: 16px;
    transition: 0.4s;
}

.menu-burger__header.open-menu:after {
    -webkit-transform: rotate(-38deg);
    transform: rotate(-38deg);
    bottom: 16px;
    transition: 0.4s;
}

@media (max-width: 575px) {
    .menu-burger__header {
        position: relative;
        width: 33px;
        height: 35px;
        display: block;
        margin-left: 10px;
    }

    .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before {
        height: 3px;
        width: 100%;
        position: absolute;
        background: #515758;
        margin: 0 auto;
    }

    .menu-burger__header span {
        top: 21px;
    }

    .menu-burger__header:after, .menu-burger__header:before {
        content: '';
    }

    .menu-burger__header:after {
        bottom: 2px;
    }

    .menu-burger__header:before {
        top: 12px;
    }

    .nav {
        display: block;
        position: absolute;
        top: 50px;
        left: 0;
        background: rgba(245, 246, 246, 0.8);
        width: 100%;
        box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
        left: -100%;
        transition: all 0.4s ease;
        padding: 15px;
    }

    .nav.open-menu {
        left: 0;
    }

    .nav a {
        display: block;
        font-size: 12px;
        color: #000;
        margin: 7px;
    }
}

.pageup {
    color: #fff;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
    border: 1px solid #fff;
    background-color: #000;
    padding: 10px 15px;
    margin-top: 30px;
    cursor: pointer;
}
